/* Imports */
/* Imports */
/* Variables */
#activitiesTable {
  font-size: 12px;
}
#activitiesTable td {
  color: #333;
}
#activitiesTable a {
  color: #007FB6;
  cursor: pointer;
  text-decoration: none;
}
#activitiesTable a:hover {
  color: #007FB6;
  cursor: pointer;
  text-decoration: underline;
}

/*********************
VARIABLES
**********************/
/*Controls Menu top & bottom padding*/
/*Contols Menu left & right padding*/
/*Control Menu Color Scheme*/
/*********************
RESPONSIVE BREAKPOINTS
**********************/
/*********************
NAVIGATION STYLES
**********************/
nav {
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
@media (max-width: 715px) {
  nav {
    margin: 65px 0 0 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background: #191919;
  }
}

nav ul {
  margin: 0 auto;
  width: 1100px;
  list-style: none;
}
@media (max-width: 715px) {
  nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    z-index: 15;
  }
}
nav ul li {
  float: left;
  position: relative;
  z-index: 1;
  /******************
  SUBNAV
  ******************/
}
@media (max-width: 715px) {
  nav ul li {
    float: none;
    position: relative;
    margin: 0;
  }
}
nav ul li a {
  display: block;
  padding: 20px 25px;
  text-align: center;
  color: #333;
  text-decoration: none;
  border-right: 1px solid #e6e6e6;
  /* text-shadow:2px 2px 2px rgba(0,0,0,.8); */
  transition: all 0.1s ease;
  border-bottom: 3px solid transparent;
}
nav ul li a:hover {
  /* background:darken($menu-background,10%); */
  color: #666;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #FC4C02;
  border-bottom: 3px solid #FC4C02;
}
@media (max-width: 715px) {
  nav ul li a {
    display: table;
    margin: 0;
    padding: 15px 2px;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    /* box-shadow:inset 0px 1px 3px rgba(255,255,255,.03); */
    text-shadow: none;
    width: 100%;
  }
}
nav ul li:hover ul {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease;
}
@media (max-width: 715px) {
  nav ul li:hover ul {
    max-height: 0;
  }
}
nav ul li ul {
  background: #e6e6e6;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 200px;
  max-height: 0;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
  font-size: .9em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
@media (max-width: 715px) {
  nav ul li ul {
    max-height: 0;
    opacity: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 2s ease;
  }
}
nav ul li ul li {
  float: none;
  margin: 0;
}
@media (max-width: 715px) {
  nav ul li ul li {
    margin: 0;
  }
}
nav ul li ul li a {
  display: block;
  text-align: left;
  padding: 13.33333px 16.66667px;
  margin: 0;
  border-right: none;
  border-top: 1px solid #e0e0e0;
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
  text-transform: none;
  text-shadow: none;
  transition: all 0.2s ease;
}
nav ul li ul li a:hover {
  color: #666;
  background: white;
  transition: all 0.5s ease;
}
@media (max-width: 715px) {
  nav ul li ul li a {
    color: white;
    padding-left: 20px;
    background: none;
  }
}

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display: none;
  margin: 0;
  padding: 20px 15px;
  background: linear-gradient(to bottom, #353535 0%, #262626 100%);
  position: absolute;
  color: white;
  text-decoration: none;
  top: 15px;
  right: 15px;
  line-height: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
@media (max-width: 715px) {
  .mobile {
    display: table;
  }
}

.active {
  max-height: 9000px !important;
  transition: all 1s ease;
}

@media (max-width: 715px) {
  .arrow {
    display: block;
    background: url(../images/arrow.png) no-repeat;
    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s ease;
  }
  .arrow:hover {
    cursor: pointer;
  }

  .rotate {
    transition: all 0.3s ease;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
/* Variables */
body.body-bg {
  background-color: white !important;
  background-image: none !important;
}

.wrapper {
  border-top: none !important;
  box-shadow: none !important;
  margin: 0 auto;
  padding: 0 20px 0 20px !important;
  min-width: 320px;
  margin-top: 20px;
}

.strava-logo {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: black 1px 1px 2px;
  -webkit-box-shadow: black 1px 1px 2px;
  box-shadow: black 1px 1px 2px;
  height: 24px;
  width: 114px;
  background-image: url("strava-logo.svg");
  background-size: 100%;
  background-position: left top;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  padding-bottom: 15px;
  float: left;
  padding: 0;
  line-height: 0;
  margin-top: 15.5px;
  margin-left: 10px;
}

.strava-align {
  text-align: center !important;
}

.development {
  transform: rotate(90deg);
  position: absolute;
  width: 149px;
  height: 149px;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
  background-image: url("development.png");
  background-position: center center;
  background-repeat: no-repeat;
}
